.itemName {
  text-align: center;
  top: 50%;
}

.priceText {
  text-align: center;
}

.menuCards {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  position: relative;
}

.lunchCards {
  position: relative;
  display: block;
  max-width: 600px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.addToCart {
  display: inline-block;
  margin-left: 50%;
  margin-bottom: 1vh;
  transform: translateX(-50%);
  width: auto;
}

body {
  margin: 0;
  padding: 0;
}

#menuItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 0.4fr));
}

#navBar {
  position: sticky;
  background-color: #005239;
  padding: 2vh;
}

#logo {
  position: relative;
  left: 5vw;
  top: 50%;
  height: 6rem;
}

#title {
  position: absolute;
  color: white;
  font-size: 2.5rem;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#cart {
  height: 3rem;
  filter: invert(100%);
}

#cartCard:hover {
  cursor: pointer;
}

#cartCard {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translate(0, -50%);
  right: 5vw;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #28a745;
}

#cartNumber {
  position: relative;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

#menuTitle {
  position: relative;
  font-size: 3rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
